@model CorporateBonuses.ViewModels.BonusViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bonus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Rang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Rang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.DaysToReset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.DaysToReset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Enabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Enabled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Bonus.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
