@model CorporateBonuses.ViewModels.BonusViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bonus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Rang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Rang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.DaysToReset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.DaysToReset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Price)
            (cent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Enabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Enabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Bonus.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
