@model List<CorporateBonuses.ViewModels.BonusViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Bonus.Rang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Bonus.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Bonus.DaysToReset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Bonus.Price)
                (cent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Bonus.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus.Rang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus.DaysToReset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus.Enabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Bonus.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Bonus.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Bonus.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
