@model List<CorporateBonuses.ViewModels.BonusViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Список бонусов</h1>
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Вернуться на главную</a>
</div>
<br />
<p>
    <a class="btn btn-success btn-block btn-outline-dark text-light" role="button" asp-action="Create">Создать новый</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Ранг
                </th>
                <th>
                    Название
                </th>
                <th>
                    Дней до обновления
                </th>
                <th>
                    Цена(в центах)
                </th>
                <th>
                    Доступен
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysToReset)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" role="button" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Details" class="btn btn-info" role="button" asp-route-id="@item.Id">Подробно</a> |
                        <a asp-action="Delete" class="btn btn-danger" role="button" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>