@model List<CorporateBonuses.ViewModels.RequestsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Bonus
            </th>
            <th>
                Employee
            </th>
            <th>
                Price
            </th>
            <th>
                Date of Request
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Requests.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonuses.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.FirstName) @Html.DisplayFor(modelItem => item.Users.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonuses.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requests.ApproveDate)
            </td>
            <td>
                <form asp-controller="BonRequests" asp-action="Index" method="post">
                    <p>
                        <input type="hidden" name="Id" value="@item.Requests.Id" />
                        <input type="hidden" name="command" value="Approved" />
                        <input type="submit" value="Approve" />
                    </p>
                </form>
            </td>
            <td>
                <form asp-controller="BonRequests" asp-action="Index" method="post">
                    <p>
                        <input type="hidden" name="Id" value="@item.Requests.Id" />
                        <input type="hidden" name="command" value="Rejected" />
                        <input type="submit" value="Reject" />
                    </p>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
