@model CorporateBonuses.ViewModels.RequestsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>
<br />
<form asp-controller="BonRequests" asp-action="Statistics" method="post">
    <p class="text-light">
        C <input asp-for="Start" type="date" value=""/> по <input type="date" asp-for="End" value="" />
        <input type="submit" value="Статистика за промежуток времени" />
    </p>
</form>
<h3>Вы потратили @Model.Price[0] $, если одобрите все запросы, то затратите дополнительно @Model.Price[1] $, также вы сэкономили @Model.Price[2] $ на отказах</h3>
<br />
<form asp-controller="BonRequests" asp-action="Statistics" method="get">
    <p>
        <select asp-for="State" asp-items="Model.States">
            <option value="">All</option>
        </select>
        <input type="submit" value="Find by status" />
    </p>
</form>
<br />
<form method="get" asp-controller="BonRequests" asp-action="Index">
    <input type="submit" value="Вернуться к текущим запросам" />
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Bonus
            </th>
            <th>
                Employee
            </th>
            <th>
                Price(cent)
            </th>
            <th>
                Date of Request
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Requests.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Requests[i].Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Bonuses[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Users[i].FirstName) @Html.DisplayFor(modelItem => Model.Users[i].Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Requests[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Requests[i].ApproveDate)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
